body{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
}
.navbar{
    background-color: #503624 !important;
}


.home{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('mars.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
}



.slogan{
    flex: 1 0 auto;
    color: white;
    text-align: center;
    margin: 0 auto 0 auto;
    padding-top: 15%;
    font-size: 100px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

